body {
    text-align: center;
    background-color: #283149;
  }
  
  h1 {
    font-size: 5rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
    margin: 25px;
    margin-bottom: 15px;  
  }
  
  h3 {
    font-size: 3rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
    margin: 25px;
    margin-bottom: 15px;
  }

  footer {
    color: #DBEDF3;
    font-family: sans-serif;
    /* margin-top: 30px; */
  }

  .txt {
    font-size: 2rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
    margin: 10px 20px;
    text-decoration: none;
    padding-bottom: 0%;
    margin-top: 20px;
  }

  .btn {
      padding: 20% 100%;
      font-size: 20px;
  }

  .set {
    margin: 1% auto 1%;
  }
  
  .grp{
    margin: 30px 80px;
    display: inline-block;
    }
 